/* Reseteo de margenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Estilo de colores para las páginas */

body{
    background-color: #222831;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    text-align: center; 
}

/* Estilo para el header y footer */

header{
    background-color: #31363F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
    padding: 2rem;
}

nav ul {
    display: flex;
    gap: 1rem;
}

ul, li {
    font-family: Fredoka;
    list-style: none;
}


a {
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 10px;
    color: #dfedee;
}

a:hover{
    color: #4e888c;
    font-size: 18px;
    transition: 0.5s;
}

.logo-web{
    max-width: 90px;
    padding: 15px;
    cursor: help;
}

.title-ahr {
    font-family: Fredoka;
    color: #dcdcdc;
    font-size: 2rem;
    cursor: default;
    margin-left: 250px; 
    text-align: center; 
}

.title {
    font-family: Fredoka;
    color: #dcdcdc;
    font-size: 2rem;
    cursor: default;
}

footer {
    background-color: #31363F;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer, p {
    font-family: Fredoka;
    color: #4e888c;
}
/* Inicio */

div{
    padding-top: 50px;
    display: flex;
    width: 600px;
    height: 430px;
    padding-left: 120px;
}

div img{
    width: 380px;
    flex-grow: 1;
    opacity: .8;
    transition: .5s ease;
    border-radius: 15px;
}

div img:hover{
    cursor: hand;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}


/* Ahorcado */

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 170px;
}

#pista-texto {
    font-size: 1.5rem;
    color: #a4f6cc;
    font-family: Roboto Condensed;
}


.tecla.correcta {
    background-color: #4EA93B; 
}

.tecla.incorrecta {
    background-color: #FF0000;
}


#palabra {
    font-size: 26px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
    color: #76ABAE;
}

#intentos {
    font-size: 22px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
    color: #76ABAE
}

#teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#teclado button {
    font-size: 22px;
    padding: 10px 20px;
    margin: 7px;
    background-color: #292929; 
    color: #76ABAE; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
}

#teclado button:hover{
    background-color: #76ABAE;
    color: #EEEEEE;
    transition: 0.7s;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-family: Fredoka;
    color: #EEEEEE;
}

#reiniciar {
    font-size: 22px;
    padding: 10px 30px;
    margin: 0 auto;
    display: block;
    background-color: #989898;
    color: #012d21;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Fredoka;
}

#reiniciar:hover{
    background-color: #76ABAE;
    color: #a4f6cc;
    transition: 1s;
    font-size: 26px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}

