/* Reseteo de margenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Estilo de colores para las páginas */
header{
    background-color: #007c52;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100px;
}

body{
    background-color: #012d21;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
}

.contenedor {
    text-align: center; 
}

/* Estilo para el header */

.logo-web{
    max-width: 90px;
    padding: 15px;
}

.title{
    font-family: Fredoka;
    color: #ebfef4;
    font-size: 2rem;
}

/* Estilo de cosas para el main */

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.parte-cuerpo {
    width: 2px;
    height: 80px;
    background-color: #000;
    position: absolute;
    display: none;
}

#horca {
    width: 250px;
    height: 2px;
    background-color: #a4f6cc;
    position: relative;
    margin: 0 auto;
}

p{
    font-family: Roboto Condensed;
    color: #a4f6cc;
}

#palabra {
    font-size: 24px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
    color: #a4f6cc;
}

#intentos {
    font-size: 18px;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
    color: #a4f6cc
}

#teclado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}

#teclado button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px; 
    color: #012d21; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
}

#teclado button:hover{
    background-color: #007c52;
    color: #a4f6cc;
    transition: 0.7s;
}

#resultado {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-family: Fredoka;
    color: #007c52;
}

#reiniciar {
    font-size: 18px;
    padding: 20px;
    background-color: #ebfef4;
    color: #012d21;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out;
    font-family: Fredoka;
}

#reiniciar:hover{
    background-color: #007c52;
    color: #a4f6cc;
    transition: 0.7s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

@keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
}
